appdirs==1.4.3
asgiref==3.2.3
certifi==2020.4.5.1
distlib==0.3.0
Django==3.0.3
django-cors-headers==3.3.0
django-rest-framework==0.1.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
filelock==3.0.12
Pillow==7.1.2
pipenv==2020.6.2
PyJWT==1.7.1
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
virtualenv==20.0.4
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
